@import '../../style/variables.scss';

*a {
   text-decoration: none;
}

.appHeader {
   padding-top: 50px;
}

.rightHeader {

   & ul {
      display: flex;
      list-style-type: none;
      margin-top: 5px;
      margin-bottom: 0;

      & li,
      a {
         position: relative;
         color: #000;
         font-size: 24px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         margin: 0 2px 0 2px;

         a:after {
            content: '';
            display: block;
            height: 3px;
            width: 0px;
            transition: all 0.3s;
         }

         a:hover:after {
            content: '';
            display: block;
            height: 3px;
            width: 100%;
            background: $main-color;
         }

         .red {
            color: $main-color;
         }
      }

      span {
         font-size: 24px;
         font-weight: 700;
      }


   }

}

.leftHeader {
   margin: 0;
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

   & a {
      color: $main-color;
   }
}

.appHeader {
   display: flex;
   justify-content: space-between;
}